<p id="notice"><%= notice %></p>

<p>
  <strong>Start Date:</strong>
  <%= @grow.startdate %>
</p>

<p>
  <strong>Crop type:</strong>
  <%= @grow.crop.title %>
</p>

<p>
  <strong>Field Name:</strong>
  <%= @grow.field.title %>
</p>

<p>
  <strong>Field Number:</strong>
  <%= @grow.field.number %>
</p>

<p>
  <strong>Description:</strong>
  <%= @grow.description %>
</p>




<%= link_to 'Edit', edit_grow_path(@grow) %> |
<%= link_to 'Back', grows_path %>



<p>
  <strong>ID:</strong>
  <%= @grow.id %>

</p>

<%# create an array of all the jobs then run through then in another
loop bellow and pass the job type through to the method in the model
which will have a case statment or maybe just kepp them seperated
YES every table has different values so each one has to be writern manually. %>



 <h1>Planting</h1>

 All Planting accossiated with this Grow<br>

  <table>
    <thead>
      <tr>
        <th>Date Planted</th>
        <th>Treated Seed</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
   <% @grow.select_table("planting", @grow.id).each do |plant| %>
        <tr>
          <td><%= plant.date %></td>

          <% if plant.seed_treated? %>
              <td>Yes treated SEED</td>
          <%else%>
              <td>SEED not treated</td>
          <% end %>

          <td><%= link_to 'Show', plant %></td>
          <td><%= link_to 'Edit', edit_planting_path(plant) %></td>
          <td><%= link_to 'Destroy', plant, method: :delete, data: { confirm: 'Are you sure?' }%></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h1>Harvesting</h1>
  All Harvesting accossiated with this Grow<br>
     <table>
       <thead>
         <tr>
           <th>Date Harvested</th>
           <th>Measurement type</th>
           <th>Quantity</th>
           <th>Field finished</th>
           <th colspan="3"></th>
         </tr>
       </thead>

       <tbody>
      <% @grow.select_table("harvesting", @grow.id).each do |harvesting| %>
           <tr>
             <td><%= harvesting.date %></td>
             <td><%= harvesting.measurement.measure_type %></td>
             <td><%= harvesting.quantity %></td>

             <% if harvesting.field_finished? %>
                 <td>Yes Completed</td>
             <%else%>
                 <td>Not field_finished</td>
             <% end %>

             <td><%= link_to 'Show', harvesting %></td>
             <td><%= link_to 'Edit', edit_harvesting_path(harvesting) %></td>
             <td><%= link_to 'Destroy', harvesting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
           </tr>
         <% end %>
       </tbody>
     </table>
