<p id="notice"><%= notice %></p>

<h1>Plantings</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Seed treated</th>
      <th>Soil condition</th>
      <th>Grow</th>
      <th>Field</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @plantings.each do |planting| %>
      <tr>
        <td><%= planting.date %></td>
        <td><%= planting.seed_treated %></td>
        <td><%= planting.soil_condition %></td>
        <td><%= planting.grow.crop.title %></td>
        <td><%= planting.grow.field.title %></td>
        <td><%= link_to 'Show', planting %></td>
        <td><%= link_to 'Edit', edit_planting_path(planting) %></td>
        <td><%= link_to 'Destroy', planting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Planting', new_planting_path %>
