<!DOCTYPE html>
<html>
  <head>
    <title>FarmControl</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'New Crop', crops_path %>
    <%= link_to 'New Field', fields_path %>
    <%= link_to 'New Grow', grows_path %>
    <%= link_to 'New Planting', plantings_path %>
    <%= link_to 'New Measurement', measurements_path %>
    <%= link_to 'New Harvesting', harvestings_path %>

    <%= yield %>
  </body>
</html>
